<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.dac.gapp.andac">

    <!-- To access Google+ APIs: -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:name=".MyApplication"
        android:allowBackup="false"
        android:label="${appLabel}"
        android:supportsRtl="true"
        android:theme="@style/Theme.Design.Light.NoActionBar"
        tools:ignore="AllowBackup,GoogleAppIndexingWarning">
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyDkkpBXY7N4YbP0JSuOZJdma17MQ9k4g5E" />
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@drawable/andac_logo" />

        <activity android:name=".MainActivity" />
        <activity android:name=".RequestSurgeryActivity" />
        <activity android:name=".ColumnActivity" />
        <activity android:name=".EventDetailActivity" />
        <activity android:name=".ChatActivity" />
        <activity android:name=".HospitalActivity" />
        <activity android:name=".BoardWriteActivity" />
        <activity android:name=".HospitalTextSearchActivity" />
        <activity android:name=".BoardTextSearchActivity" />
        <activity android:name=".ColumnDetailActivity" />
        <activity android:name=".ColumnWriteActivity" />
        <activity android:name=".HospitalColumnListActivity"/>
        <activity android:name=".ConsultBoardActivity" />

        <service android:name=".util.FcmSendService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
        <service android:name=".util.FcmInstanceIdService">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>

        <activity android:name=".BoardDetailActivity" />
        <activity android:name=".EventTextSearchActivity" />
        <activity android:name=".ColumnTextSearchActivity"></activity>
    </application>

</manifest>