<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.dac.gapp.andac">

    <!-- To access Google+ APIs: -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>

    <application
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="${appLabel}"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Design.Light.NoActionBar"
        tools:ignore="AllowBackup,GoogleAppIndexingWarning">

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyDkkpBXY7N4YbP0JSuOZJdma17MQ9k4g5E" />

        <activity
            android:name=".SplashActivity"
            android:label="${appLabel}"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity" />
        <activity android:name=".MyPageActivity" />
        <activity android:name=".RequestSurgeryActivity" />
        <activity android:name=".ColumnActivity" />
        <activity android:name=".EventActivity" />
        <activity android:name=".ChatActivity" />
        <activity android:name=".HospitalActivity" />
        <activity android:name=".BoardWriteActivity" />

        <activity
            android:name=".user.UserLoginActivity"
            android:label="@string/title_activity_login" />
        <activity android:name=".user.UserJoinActivity" />
        <activity
            android:name=".user.HospitalTextSearchActivity"
            android:label="@string/title_activity_hospital_text_search"></activity>
    </application>

</manifest>