<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.dac.gapp.andac">



    <application
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher_hospital"
        android:label="${appType}${appLabel}"
        android:roundIcon="@mipmap/ic_launcher_hospital_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Design.Light.NoActionBar"
        tools:ignore="AllowBackup,GoogleAppIndexingWarning">
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyDkkpBXY7N4YbP0JSuOZJdma17MQ9k4g5E" />

        <activity
            android:name=".SplashActivity"
            android:label="${appType}${appLabel}"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity" />
        <activity android:name=".RequestSurgeryActivity" />
        <activity android:name=".ColumnActivity" />
        <activity android:name=".EventDetailActivity" />
        <activity android:name=".ChatActivity" />
        <activity android:name=".HospitalActivity" />
        <activity android:name=".BoardWriteActivity" />
        <activity android:name=".MyPageActivity" />
        <activity
            android:name=".LoginActivity"
            android:label="@string/title_activity_login" />
        <activity
            android:name=".JoinActivity"
            android:windowSoftInputMode="adjustResize|adjustPan" />
        <activity android:name=".SearchAddressActivity" />
        <activity android:name=".HospitalAdApplicationActivity" />
        <activity
            android:name=".ChangeProfileActivity"
            android:windowSoftInputMode="stateHidden" />
        <activity android:name=".HospitalEventListActivity" />
        <activity android:name=".EventWriteActivity" />
        <activity android:name=".HospitalEventApplicantListActivity"></activity>
    </application>

</manifest>